body{
    background-color: azure;
}
.card{
    width: 400px;
    height: 70px;
    background: slategray;
    margin: 10px;
    border: 1px solid black;
}
.card > .symbol{
    background: red;
}
.symbol{
    height: 20px;
    width: 20px;
    background: green;
    border-radius: 100%;
    margin: 10px;
}

.card::before{
    content: '';
    width: 30px;
    height: 30px;
    background: honeydew;
    display: block;
}

.forflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}